unstructured
tiktoken
pinecone-client
pypdf
langchain
pandas
numpy
python-dotenv
scipy
asyncio
Flask
Flask-Cors
openai
requests
gunicorn
nest_asyncio
faiss-cpu
selenium==4.1.0
beautifulsoup4
google-cloud-storage
google-auth