unstructured
tiktoken
langchain
numpy
Flask
Flask-Cors
openai
nest_asyncio
faiss-cpu
selenium
beautifulsoup4
google-cloud-storage
google-auth
webdriver-manager
google-cloud-secret-manager
Flask-Limiter
pandas
gunicorn